.button_wrapper {
  position: relative;
}

.button {
  font-family: 'Audiowide', sans-serif;
  font-size: 1rem;
  height: 2.5rem;
  padding: 0 1.5rem;
  border: 1px solid #496D83;
  color: white;
  background-color: #496D83;
  transition: all 0.1s linear;
  cursor: pointer;
}

.button:hover {
  transform: translate(-0.25rem, 0.25rem);
}

.button:active {
  color: #CD7745;
}

.button+div {
  z-index: -1;
  white-space: nowrap;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  padding: 0 1.5rem;
  height: 2.5rem;
  color: transparent;
  background-color: #ffffff;
  font-size: 1rem;
  border: 1px solid #496D83;
}