.home-page {
  width: 100vw;
  min-height: 80vh;
}

.home-page_wrapper {
  width: 100%;
  min-height: 100%;
}

.home-page_header {
  background-color: #496d8341;
  position: relative;
  max-width: 54rem;
  min-height: 24rem;
  margin: 0 auto;
  padding: 2.625rem 0;
  justify-content: center;
}

.home-page_header>h1 {
  color: white;
  padding: 1rem;
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 3.5rem;
}

.home-page_header>h3 {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #018fde;
}

.home-page_header>img {
  width: 31rem;
  padding: 0 0 1rem;
}

.home-page_header p {
  max-width: 10.25rem;
  margin: 0 1.5rem 0 0;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

/* ---------------------------------media--------------------------------- */

@media only screen and (max-width: 768px) {
  .home-page_header {
      margin: 4.875rem 0 6rem;
  }

  .home-page_header>h1 {
      padding: 0 0 1.25rem;
      font-size: 3rem;
      line-height: 4.5rem;
  }
  
  .home-page_header>h3 {
      padding: 0 0 0.6rem;
      font-size: 1.5rem;
      line-height: 1.8rem;
  }

  .home-page_header>img {
      width: 26.7rem;
  }
}

@media only screen and (max-width: 576px) {
  .home-page_header {
      margin: 3rem 0 4rem;
  }

  .home-page_header>h1 {
      padding: 0 0 1.25rem;
      font-size: 2rem;
      line-height: 3rem;
  }
  
  .home-page_header>h3 {
      padding: 0 0 0.6rem;
      font-size: 1.25rem;
      line-height: 1.5rem;
  }

  .home-page_header>img {
      width: 17rem;
  }

  .home-page_button {
      flex-direction: column;
      justify-content: center;
  }

  .home-page_header p {
      text-align: center;
      margin: 0 0 0.5rem;
  }

  .home-page_header::before,
  .home-page_header::after {
      display: none;
  }
}